{{>partials/header}}

<h3> LOGIN </h3>
<form method="POST">
    <label for="femail">E-mail:</label><br>
    <input type="text" name="email" placeholder="Digite seu e-mail"/>
    <br>   
    <label for="fsenha">Senha:</label><br>
    <input type="text" name="senha" placeholder="Digite sua senhau"/>
    <br>
    <input type="submit" value="Enviar"/>
</form>

<!- FAZER A ROTA DE POST E GET PARA O LOGIN-!>

{{>partials/footer}}