{{>partials/header}}

<h3> LOGIN </h3>
<form method="POST">
    <label for="femail">E-mail:</label><br>
    <input type="email" name="email" placeholder="Digite seu e-mail"/>
    <br>   
    <label for="fsenha">Senha:</label><br>
    <input type="password" name="senha" placeholder="Digite sua senha"/>
    <br>
    <input type="submit" value="Enviar"/>
</form>

{{#loginSuccess}}
    {{loginMessage}} 
{{/loginSuccess}}

{{>partials/footer}}