<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
    h2 {
        text-align: center; 
        text-transform: uppercase;
    }
    body {
        margin: 40px; 
        font-family: Arial, Helvetica, sans-serif;

    }
    form{
        width: 30%;
        box-sizing: border-box;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head> 
<body>

<header> 

    <h1>Título do meu site</h1>

    <h2> Home | Contato | Sobre nós </h2>
    
</header>